{
  "LevelConfigs": {
    "9": {
      "LevelName": "Crystal Caverns",
      "AreaConfigs": {
        "1": {
          "AreaName": null,
          "ScrollingNames": {}
        },
        "2": {
          "AreaName": null,
          "ScrollingNames": {}
        }
      }
    }
  },
  "SelectedTextProfileInfo": ""
}